{% extends "base.html" %} {% block main_content %}
<div class="row">
	<h1 class="aboutPageTitle">{{page_title}}</h1>
</div>
<div class="row">
	<div class="main-cotainer">
		<div class="container cf">
			<!-- testimonial one -->
			<div class="animation-element slide-left testimonial">
				<div class="header">
					<h3>Where it all started</h3>
				</div>
				<div class="content">
					<i class="fa fa-quote-left"></i> When I started using their service I
					was skeptical. They promised me a 300% return on my initial
					investment. However they came through on their word and now my
					business is flourishing..
					<i class="fa fa-quote-right"></i>
				</div>
			</div>
			<!--testimonial two -->
			<div class="animation-element slide-left testimonial">
				<div class="header">
					<h3>Teaching the next generation</h3>
				</div>
				<div class="content">
					<i class="fa fa-quote-left"></i> Our company first enlisted their
					services when we had a down-turn in sales and revene. They outlined a
					series of steps we could take to improve our position and within a
					year we are making signifcant improvements..
					<i class="fa fa-quote-right"></i>
				</div>
			</div>
			<!--testimonial three -->
			<div class="animation-element slide-left testimonial">
				<div class="header">
					<h3>Passing on the skils</h3>
				</div>
				<div class="content">
					<i class="fa fa-quote-left"></i> We entered into a 12 month period of
					service with this company in the hopes to improve our returns. After
					this period we have a return of double our initial investment..
					<i class="fa fa-quote-right"></i>
				</div>
			</div>
			<!--testimonial four -->
			<div class="animation-element slide-left testimonial">
				<div class="header">
					<h3>Building the Biuisness</h3>
				</div>
				<div class="content">
					<i class="fa fa-quote-left"></i> Our involvement in this company has
					been mutually beneficial. We were hoping for slightly higher returns,
					however the current level of returns are sufficient..
					<i class="fa fa-quote-right"></i>
				</div>
			</div>
			<!--testimonial five -->
			<div class="animation-element slide-left testimonial">
				<div class="header">
					<h3>The Current Generation</h3>
				</div>
				<div class="content">
					<i class="fa fa-quote-left"></i> Our involvement in this company has
					been mutually beneficial. We were hoping for slightly higher returns,
					however the current level of returns are sufficient..
					<i class="fa fa-quote-right"></i>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
